{% import "mixins/flash-messages.html" as FM %}

<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title>{{ title|default("Amerbank") }}</title>

		<meta name="description" content="Amerbank is a fintech company providing financial solutions, loans, money transfers and services to companies, financial institutions and individuals.">
		<link rel="icon" type="image/x-icon" href="https://amerbank.com/favicon.ico">
		<meta property="og:url" content="http://www.amerbank.com/" />
		<meta property="og:title" content="{{ title|default("Amerbank: The future of Global Banking - today!")}}" />

		{# Customise the stylesheet for your site by editing /public/styles/site.sass #}
		<link href="/styles/site.css" rel="stylesheet">

		{# This file provides the default styling for the KeystoneJS Content Editor #}
		{% if user and user.canAccessKeystone %}
			<link href="/keystone/styles/content/editor.min.css" rel="stylesheet">
		{% endif %}

		{# HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		   Safely remove this block if you are not targeting IE8 #}
		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

		{# Include template-specific stylesheets by extending the css block #}
		{% block css %}
		    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.7.0/flexslider.css" />
		    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		{% endblock %}

		{# Add any other template-specific HEAD tags by extending the head block #}
		{% block head %}
			
		{% endblock %}
	</head>
	<body>

		{# HEADER #}
		<header class="main-header text-uppercase">
            <div class="container">
                <div class="top-menu">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mobile-nav">
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                    </button>

                    <ul class="list-inline pull-right">
                        <li><a href="/team">Team</a></li>
                        <li><a href="/careers">Careers</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="#">Client Login</a></li>
                        <li><img src="/images/planet.png" alt="planet"></li>
                    </ul>
                </div>

                <div id="mobile-nav" class="collapse">
                    <ul>
                       <li><a href="/about" class="active">About</a></li>
                       <li><a href="/payments">Payments</a></li>
                       <li><a href="/fintech">Fintech</a></li>
                       <li><a href="/cards">Cards</a></li>
                       <li><a href="/loans">Loans</a></li>
                       <li><a href="/blog">Blog</a></li>
                    </ul>
                </div>

                <div class="main-menu">
                    <div class="logo pull-left">
                        <a href="/" title="Amerbank">
                            <img src="/images/logo.png" alt="logo">
                        </a>
                    </div>

                    <nav class="menu pull-right">
                        <ul class="list-inline">
                            <li><a href="/about" class="{{ 'active' if 'about' == section else '' }}">About</a></li>
                            <li><a href="/payments" class="{{ 'active' if 'payments' == section else '' }}">Payments</a></li>
                            <li class="dropdown">
                                <a href="/fintech">Fintech</a>
                                <div class="dropdown-content">
                                    <a href="/fintech#titan">Titan</a>
                                    <a href="/fintech#kronos">Kronos</a>
                                    <a href="/fintech#integration">Integration</a>
                                    <a href="/fintech#security">Security</a>
                                </div>
                            </li>
                            <li><a href="/cards">Cards</a></li>
                            <li><a href="/loans">Loans</a></li>
                            <li><a href="/blog" class="{{ 'active' if 'blog' == section else '' }}">Blog</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>

		{# BODY #}
		<div id="body">
			{# NOTE:
			   There is no .container wrapping class around body blocks to allow more flexibility in design.
			   Remember to include it in your templates when you override the intro and content blocks! #}

			{# The Intro block appears above flash messages (used for temporary information display) #}
			{% block intro %}{% endblock %}

			{# Flash messages allow you to display once-off status messages to users, e.g. form
			   validation errors, success messages, etc. #}
			<!-- {{ FM.flashMessages(messages) }} -->

			{# The content block should contain the body of your template"s content #}
			{% block content %}{% endblock %}
		</div>


		{# FOOTER #}
		<footer class="text-center">
            <div class="main-footer">
                <div class="container">
                    <p>All Amerbank client funds are deposited by Amerbank directly to each client's segregated Amerbank account with a Federal Deposit Insurance<br> Corporation ("FDIC") insured bank. Amerbank LLC is not a FDIC-insured bank.</p>
                    <p>303 Main Street, Savanna, IL 61074 | <a href="mailto:contact@amerbank.com" title="Email Amerbank">contact@amerbank.com</a></p>
                </div>
            </div>

            <div class="copyright">
                <div class="container">
                    <p>Amerbank LLC &copy; 2018. All Rights Reserved.</p>
                </div>
            </div>
        </footer>


		{# JAVASCRIPT #}

		{# jQuery 1.11.3 is included by default, and required by both Bootstrap
			and the KeystoneJS Content Editor. If you are not targeting IE8,
			you can upgrade to 2.1.4 (also bundled) for better performance. #}
		<script src="/js/jquery/jquery-1.11.3.min.js"></script>

		{# Customise which Bootstrap javascript files are served by including
			them specifically here, instead of bootstrap-3.3.5.min.js #}
		<script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>

		{# The KeystoneJS Content Editor provides support for ks-editable data attributes,
			which generate links to edit content for users who can access Keystone #}
		{% if user and user.canAccessKeystone %}
		<script src="/keystone/js/content/editor.js"></script>
		{% endif %}

		{# Add scripts that are globally required by your site here. #}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.7.0/jquery.flexslider.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/89/three.min.js"></script>
		{# Include template-specific javascript files by extending the js block #}
		{% block js %}{% endblock %}
	</body>
</html>
