{% extends "layouts/default.html" %}
{% block content %}
<div class="page-title text-center about-title">
    <div class="container">
        <h1>About Amerbank</h1>
        <p>Building trust & efficiency in global payments & lending</p>
    </div>
</div>

<div class="section payments-section-1">
    <div class="container">
        <div class="col-md-6 about no-padding">
            <h1>Technology & Expertise</h1>
            <p style="margin-top: 20px;">Amerbank is focused on compliance-centric international monetary transfers, card settlements, and loan origination and servicing. We go above and beyond US law in respect to many aspects of AML compliance in order to address the unmet demand for correspondent banking services and business loans.  Our goal is building a trustful and efficient system for global banking and payments solutions, to help the clients bridge the gap between them and their customers.</p>
            <p style="margin-top: 20px;">Our core services are international payments that we provide to FFIs and business loans, available for small enterprises all the way to corporate organizations.</p>
        </div>

        <div class="col-md-6 text-center">
            <img src="images/amerbank.png" alt="globe">
        </div>
    </div>
</div>

<div class="section payments-section-2">
    <div class="container">
        <header class="text-center">
            <h1>Our Key Advantages</h1>
            <p>Our clients can rely on us to provide</p>
        </header>

        <div class="flow advantages">
            <div class="col-md-6" style="border-right: 1px solid #DDDDDD;">
                <div class="col-lg-12 advantage">
                    <p><i class="fa fa-check-circle-o"></i> Secure Transactions</p>
                </div>

                <div class="col-lg-12 advantage">
                    <p><i class="fa fa-check-circle-o"></i> Know Your Customer's Customer (KYCC) Analysis</p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="col-lg-12 advantage">
                    <p><i class="fa fa-check-circle-o"></i> Transparent Processing</p>
                </div>

                <div class="col-lg-12 advantage">
                    <p><i class="fa fa-check-circle-o"></i> Anti-Money Laundering (AML) and Netbanking platform</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section payments-section-1">
    <div class="container">
        <header class="text-center">
            <h1>What Do We Offer?</h1>
            <p style="margin-top: 20px;">Our primary solution entails third-party money transfers to foreign (non-U.S.) financial institutions (FFIs) focused on (but not limited to) transfers in USD to and from U.S. account holders. Currently, we provide the following payment options within the system:</p>
        </header>

        <div class="wdo-flow text-center">
            <div class="col-md-3">
                <img src="images/wdo-1.png" alt="icon-1">
                <h3>USD Wire<br> Transfers </h3>

                <p>We enable Fedwire transfers for our clients and they can send and receive funds in real-time on a daily basis.  </p>
            </div>

            <div class="col-md-3">
                <img src="images/wdo-2.png" alt="icon-2">
                <h3>Check<br> Processing</h3>

                <p>Electronic check processing means that you can convert a paper check received from a customer into an electronic transfer (sometimes called an e-check) that takes funds from your customer's account and places them into your account. 
                    The procedure for electronic check processing was defined in 2004, when the Check Clearing for the 21st Century Act — commonly known as “Check 21” — took effect. Instead of continuing to ship checks through the mail before payment is made, Check 21 makes it possible for banks to process a “substitute check” — essentially an image of the front and back of any personal or business check — and then transmit it electronically to the clearing unit.
                    Regardless of whether checks are cleared as paper or electronic images, financial institutions have several alternative ways to receive payment for, or clear, checks deposited with them.
                     </p>
            </div>

            <div class="col-md-3">
                <img src="images/wdo-3.png" alt="icon-3">
                <h3>Loans<br> Offerings</h3>

                <p>We offer unique loans tailored to your needs, to help your business grow and evolve faster. Our loans are available for both US and non-US organizations and the funds will be available to you in a timely manner. In addition to rapid funds we offer lower interest rates so that you are no longer limited to traditional bank loans as Amerbank empowers you to take a more efficient approach. </p>
            </div>

            <div class="col-md-3">
                <img src="images/wdo-4.png" alt="icon-4">
                <h3>Card<br> Settlements</h3>

                <p> Debt settlement involves making an offer to the credit card company to settle the amount you owe for a lesser amount. If the creditor accepts, you will need to pay the entire settlement amount up front, in one lump sum.
                    Once a buyer purchases goods or services, his or her Issuing Bank sends funds to the seller's Payment Processor, which disperses said funds to the Merchant. The term 'settlement' is also used to refer to the specific amount of funds transferred by an Acquirer to a Merchant for the acceptance of a card transaction.</p>
            </div>
        </div>

        <div class="wdo-flow text-center">
            <div class="col-md-4">
                <img src="images/wdo-5.png" alt="icon-5">
                <h3>Letters<br> of Credit</h3>

                <p>a letter issued by a bank to another bank (especially one in a different country) to serve as a guarantee for payments made to a specified person under specified conditions.
                    A letter of credit is a letter from a bank guaranteeing that a buyer's payment to a seller will be received on time and for the correct amount. In the event that the buyer is unable to make payment on the purchase, the bank will be required to cover the full or remaining amount of the purchase.
                     </p>
            </div>

            <div class="col-md-4">
                <img src="images/wdo-6.png" alt="icon-6">
                <h3>FX<br> Liquidity</h3>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>

            <div class="col-md-4">
                <img src="images/wdo-7.png" alt="icon-7">
                <h3>Remote<br> Deposit Capture</h3>

                <p>Amerbank offers businesses and individuals to deposit checks via Remote Deposit Capture (RDC) as a simple, accurate, and low-cost solution for processing U.S. checks. Making multiple check deposits directly from your company will save you time, processing your checks quicker and making funds available sooner. </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}