{% extends "layouts/default.html" %}
{% block content %}
<div class="page-title text-center">
    <div class="container">
        <h1>Cards</h1>
    </div>
</div>

<div class="section payments-section-1">
    <div class="container">
        <div class="col-lg-12 no-padding">
            <p>Freelancers, remote team members, and business owners can use Amerbank cards to send and receive payments worldwide. Low fees and rapid transfers make Amebank cards reliable allies for everyone who does business on intentional scale.</p>
        </div>
    </div>
</div>
{% endblock %}