{% extends "layouts/default.html" %}
{% macro careerItem(career) %}
    <div class="post" id={{ career.title.split(' ').join('') }}>
        <div class="col-md-4">
            <img class="img-responsive" src="{{ career._.image.fit('1.0') }}" alt="post">
        </div>

        <div class="col-md-8">
            <h1>{{ career.title }}</h1>

            {{ career.description.html|safe }}
        </div>
    </div>
{% endmacro %}
{% block content %}
<div class="page-title text-center careers-title">
    <div class="container">
        <h1>Careers</h1>
        <p>Join a team of high-achieving, hard-working & motivated individuals</p>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="career-info text-center">
            <p>If you have a skillset or background relevant to a role with Amerbank, feel free to contact us and submit your resume.<br> We are on a constant look-out for the following profiles:</p>
        </div>

        <div class="list">
            {% if data.careers.length %}
                {% for career in data.careers %} {{ careerItem(career) }} {% endfor %}
            {% endif %}
        </div>

        <!-- <div class="load-more text-center">
            <a href="#"><strong>Load More...</strong></a>
        </div> -->
    </div>
</div>
{% endblock %}