{% extends "layouts/default.html" %}
{% block content %}
<div class="page-title text-center careers-title">
    <div class="container">
        <h1>Careers</h1>
        <p>Join a team of high-achieving, hard-working & motivated individuals</p>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="career-info text-center">
            <p>If you have a skillset or background relevant to a role with Amerbank, feel free to contact us and submit your resume.<br> We are on a constant look-out for the following profiles:</p>
        </div>

        <div class="list">
            <div class="post">
                <div class="col-md-4">
                    <img class="img-responsive" src="images/developer.png" alt="post">
                </div>

                <div class="col-md-8">
                    <h1>Full Stack Developer</h1>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                </div>
            </div>

            <div class="post">
                <div class="col-md-4">
                    <img class="img-responsive" src="images/aml-specialist.png" alt="post">
                </div>

                <div class="col-md-8">
                    <h1>AML Specialist</h1>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                </div>
            </div>

            <div class="post">
                <div class="col-md-4">
                    <img class="img-responsive" src="images/payment-specialist.png" alt="post">
                </div>

                <div class="col-md-8">
                    <h1>Payment Operations Specialist</h1>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                </div>
            </div>
        </div>

        <div class="load-more text-center">
            <a href="#"><strong>Load More...</strong></a>
        </div>
    </div>
</div>
{% endblock %}