{% extends "layouts/default.html" %}
{% block content %}
<div class="page-title text-center contact-title">
    <div class="container">
        <h1>Contact</h1>
        <p>Let us answer your questions</p>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="contact-info">
            <div class="col-md-7 map no-padding">
                <img class="img-responsive" src="images/amerbank-map.png" alt="map">
            </div>

            <div class="col-md-5 post">
                <h1>Amerbank LLC</h1>
                <p>303 Main Street</p>
                <p>Savanna, IL 61074</p>
                <p>(312) 586-2800</p>
                <p><a href="mailto:contact@amerbank.com">contact@amerbank.com</a></p>
            </div>
        </div>
    </div>
</div>
<div class="cf-section">
    <div class="container">
        <div class="contact-form">
            {{ FM.flashMessages(messages) }}
            {% if enquirySubmitted %}
                <header class="col-lg-12">
                    <h1>Thank you for getting in touch.</h1>
                </header>    
            {% else %}
                <header class="col-lg-12">
                    <h1>Contact Us</h1>
                </header>

                <form method="POST" action="contact">
                    <input type="hidden" name="action" value="contact">
                    <div class="col-lg-6">
                        <p>First Name</p>
                        <input type="text" name="name.first" value="{{ formData.name.first }}">
                
                        <p>Last Name</p>
                        <input type="text" name="name.last" value="{{ formData.name.last }}">
                
                        <p>Company</p>
                        <input type="text" name="company" value="{{ formData.company }}">
                
                        <p>Email</p>
                        <input type="email" name="email" value="{{ formData.email }}">
                
                        <p>Phone Number</p>
                        <input type="text" name="phone" value="{{ formData.phone }}">
                    </div>
                
                    <div class="col-lg-6">
                        <p>Subject</p>
                        <input type="text" name="subject" value="{{ formData.subject }}">
                
                        <p>Your Message</p>
                        <textarea name="message">{{ formData.message }}</textarea>
                
                        <input class="btn" type="submit" value="Send">
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
