{% extends "layouts/default.html" %}
{% block content %}
<div class="page-title text-center">
    <div class="container">
        <h1>Fintech</h1>
    </div>
</div>

<div class="section payments-section-1">
    <div class="container">
        <div class="col-lg-12 no-padding">
            <p>Amerbank relies on two core systems for payment processing:</p>
        </div>
    </div>
</div>

<div class="section payments-section-2 text-center" id="titan">
    <div class="container">
        <div class="col-lg-12 no-padding">
            <header>
                <h1>
                    Titan
                </h1>
            </header>
            <p>Amerbank’s in-house solution for transaction monitoring or our AML software. Titan can identify and prevent potential financial crimes, as well as ensure that payments are processed thoroughly, efficiently and timely manner. It helps facilitate safe and secure transactions and mitigate regulatory pressures of international banking.</p>
        </div>
    </div>
</div>

<div class="section payments-section-1 text-center" id="kronos">
    <div class="container">
        <div class="col-lg-12 no-padding">
            <header>
                <h1>
                    Kronos
                </h1>
            </header>
            <p>Amebank’s netbanking platform that enables our clients financial to initiate new transactions, view incoming payments, manage users and generate account statements. It is also used for payment status monitoring, sharing KYCC data and tracking account balance.</p>
        </div>
    </div>
</div>
{% endblock %}