{% extends "layouts/default.html" %}
{% block content %}
<div class="page-title text-center">
    <div class="container">
        <h1>Payments</h1>
        <p>Transfers. RDC. Settlements.</p>
    </div>
</div>

<div class="section payments-section-1">
    <div class="container">
        <div class="col-md-6 about no-padding">
            <h1>Transfers</h1>
            <h3>Choose the safest way to make payments worldwide</h3>
            <p>Borderless payments are now a reality! Make payments to accounts in the US, UK, Europe and manage your finances internationally through our secure and trusted online-banking services. Your cross-border transactions will benefit from Amerbank’s low currency exchange rates. For transactions with the same currency, no exchange rate fee will be paid!</p>
        </div>

        <div class="col-md-6 text-center">
            <img src="images/globe.png" alt="globe">
        </div>
    </div>
</div>

<div class="section payments-section-2 text-center">
    <div class="container">
        <header>
            <h1>How It Works</h1>
        </header>

        <div class="flow">
            <div class="col-md-3">
                <h3>Payment</h3>
                <img src="images/icon-1.png" alt="icon-1">

                <p>Client’s Wire Transfer<br> Specialist submits<br> payment order.</p>
            </div>

            <div class="col-md-3">
                <h3>Notification</h3>
                <img src="images/icon-2.png" alt="icon-2">

                <p>Amerbank receives<br> payment notification<br> (payment initiated).</p>
            </div>

            <div class="col-md-3">
                <h3>KYC</h3>
                <img src="images/icon-3.png" alt="icon-3">

                <p>Amerbank KYC<br> engine processes the<br> payment.</p>
            </div>

            <div class="col-md-3">
                <h3>AML</h3>
                <img src="images/icon-4.png" alt="icon-4">

                <p>Titan AML payment<br> check (risk profile<br> and categorization).</p>
            </div>
        </div>
    </div>
</div>

<div class="section payments-section-1">
    <div class="container">
        <div class="col-md-6 about no-padding">
            <h1>Secured</h1>
            <h3>Amerbank System is based on AML and KYCC policies</h3>
            <p>Amerbank’s system is based on Anti-Money Laundering (AML) and Know Your Customer’s Customer (KYCC) policies. Under these regulations, your finances will be safe and secure from any potential threats, or cybercrimes. Amerbank identifies
                and verifies all of our clients complying with AML laws and regulations to track down corruption, manipulation, tax evasion, or any illegal trades. Our KYCC provide us with a deep insight into our clients’ source and legitimacy
                of financial incomes and funds.</p>
        </div>

        <div class="col-md-6 text-center">
            <img src="images/finger-scan.png" alt="finger-scan">
        </div>
    </div>
</div>

<div class="section payments-section-4">
    <div class="container">
        <header class="text-center">
            <h1>Remote Deposit Capture</h1>
        </header>

        <div class="col-lg-12 no-padding">
            <p>Remote Deposit Capture is a service which allows a user to scan checks and transmit the scanned images and / or ACH-data to a bank for posting and clearing. The basic requirements for an RDC service currently include a PC, an internet
                connection, a check scanner and a service provider such as your current bank. Checks you receive at your corporate or bank location can be scanned to create a digital deposit. This digital deposit is then transmitted (over an encrypted
                internet connection) to your RDC bank or service provider who then accepts the deposit, posts the deposit to your account and assigns availability based upon your availability schedule.</p>
        </div>

        <div class="rdc-flow text-center">
            <div class="col-md-4">
                <h3>Check Initiated</h3>
                <img src="images/icon-1.png" alt="icon-1">

                <p>Client's Specialist<br> initiates a deposit by<br> scanning the check.</p>
            </div>

            <div class="col-md-4">
                <h3>Processing</h3>
                <img src="images/icon-8.png" alt="icon-1">

                <p>Amerbank<br> processes the<br> check deposit.</p>
            </div>

            <div class="col-md-4">
                <h3>Completed</h3>
                <img src="images/icon-5.png" alt="icon-1">

                <p>Deposit is<br> posted to<br> account.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}