{% extends "layouts/default.html" %}
{% block content %}
<div class="page-title text-center team-title">
    <div class="container">
        <h1>Team</h1>
        <p>How technology and expertise are coming together</p>
    </div>
</div>

<div class="section team-section">
    <div class="container">
        <div class="team text-center">
            <div class="col-md-3 team-member">
                <img class="img-responsive" src="images/amerbank.png" alt="team">
                <h1>Randy Miles</h1>
                <p>Chairman</p>
            </div>

            <div class="col-md-3 team-member">
                <img class="img-responsive" src="images/amerbank.png" alt="team">
                <h1>Charlie Miles</h1>
                <p>Founder, CEO and Director</p>
            </div>

            <div class="col-md-3 team-member">
                <img class="img-responsive" src="images/amerbank.png" alt="team">
                <h1>Stephen Coburn</h1>
                <p>SVP, Head of Global Institutions, CCO & Director</p>
            </div>

            <!-- <div class="col-md-3 team-member">
                <img class="img-responsive" src="images/amerbank.png" alt="team">
                <h1>Name</h1>
                <p>Position</p>
            </div> -->
        </div>
    </div>
</div>
{% endblock %}