// Bootstrap
// =========

// Bootstrap can be removed entirely by deleting this line.

@import "bootstrap/bootstrap";

// The easiest way to customise Bootstrap variables while
// being able to easily override the source files with new
// versions is to override the ones you want in another file.
//
// You can also add your own custom variables to this file for
// use in your site stylesheets.

@import "site/variables";


// Site Styles
// ===========

// Add your own site style includes here
@import "site/layout";

body {
    background-color: #001a3f;
    font-family: 'eina03';
}

.navbar {
    min-height: 100px;
}

.navbar-header {
    top: 50%;
    position: absolute;
    transform: translateY(-70%);
}

ul.nav.navbar-nav.navbar-left {
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    right: 30px;
}

.contentDiv {
    margin: 0px auto;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #FFFFFF;
	width: 100%;
	text-align: center;
	font-size: 18px;
}

.globeSpin {
    width: 100%;
    position: relative;
    h1, h3 {
        color: white;
        position: absolute;
        top: 50%;
        width: 100%;
        text-align: center;
        font-weight: bold;
    }
    h1 {
        transform: translateY(-100%);
        font-size: 60px;
    }
}

#borderlessPayments {
    display: flex;
    padding: 30px 20%;
    justify-content: center;
}

#borderlessPaymentsText {
    flex: 1 1 36%;
    text-align: left;
    h2 {
        color: #bd0a31;
        font-weight: bold;
    }
}

#borderlessPaymentsImage {
    flex: 2 1 64%
}

#futureGlobalBanking {
    background-color: #bd0a31;
    color: white;
    h2 {
        font-weight: bold;
    }
}

#cards {
    display: flex;
    padding: 30px 20%;
    justify-content: center;
    .card {
        margin: 5px;
        padding: 0px 10px;
        flex: 1 1 25%;
        img {
            max-width: 50%;
        }
        h3 {
            font-weight: bold;
            padding: 20px 0px;
        }
        p {
            font-size: 16px;
            padding: 0px 15%;
        }
    }
}

#disclaimer {
    background-color: #bd0a31;
    color: white;
    font-size: 12px;
}

#ourClients {
    background-image: url('../images/ourclients_bg.png');
    background-size: auto;
    background-repeat: no-repeat;
    color: white;
    h1 {
        font-weight: bold;
    }
    .clients {
        display: flex;
        padding: 30px 20%;
        justify-content: center;
        .client {
            img {
                max-width: 50%;
            }
            flex: 1 1 25%;
            margin: 5px;
        }
    }
}

#banner {
    background-image: url('../images/banner.png');
    background-size: auto;
    background-repeat: no-repeat;
    color: white;
    p {
        width: 20%;
        margin-left: 20%;
        padding: 15px 0;
    }
}

#blog {
    background-color: #EEEEEE;
    h1 {
        font-weight: bold;
    }
    #blogPosts {
        padding: 30px 20%;
        display: flex;
        justify-content: center;
        .blogPost {
            background-color: #FFFFFF;
            flex: 1 1 33%;
            display: flex;
            margin: 10px;
            padding: 15px;
            img {
                margin: -15px;
                flex: 2 1 auto;
            }
            .blogText {
                padding-left: 25px;
                flex: 3 1 auto;
                text-align: left;
                span {
                    transform: scale(.5, 1);
                }
            }
        }
    }
}